<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="Pkg.Utiltiy.LogResults" />
		<listener class-name="io.qameta.allure.testng.AllureTestNg" />
	</listeners>
	<test thread-count="5" name="Test">
		<parameter name="browser" value="1" />
		<groups>
			<run>
				<include name="Regression"></include>
			</run>
		</groups>
		<classes>
			<class name="Pkg.Test.AddProductIntoCart">
				<methods>
					<include name="productWithPackSize" />
					<include name="updateQuatity" />
					<include name="productCartTC001" />
				</methods>
			</class>
			<class name="Pkg.Test.RegisterUser" />
			<class name="Pkg.Test.LoginTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
 